<a href="https://colab.research.google.com/github/imostafizur/Feedback_Analysis/blob/master/Transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import string
import re
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
%matplotlib inline

In [27]:
import os

os.environ['KAGGLE_USERNAME'] = "imostafizur" # username from the json file
os.environ['KAGGLE_KEY'] = "209f4b70995998e465b2702534f7a5ff" # key from the json file

In [28]:
!kaggle datasets download -d grikomsn/amazon-cell-phones-reviews

Downloading amazon-cell-phones-reviews.zip to /content
  0% 0.00/8.84M [00:00<?, ?B/s]
100% 8.84M/8.84M [00:00<00:00, 108MB/s]

In [31]:
!unzip amazon-cell-phones-reviews.zip

Archive:  amazon-cell-phones-reviews.zip
  inflating: 20191226-items.csv
  inflating: 20191226-reviews.csv

In [32]:
df0 = pd.read_csv('20191226-items.csv')

In [34]:
# create a new dataframe with columns for product ID, brand, and model
product_mapping = df[['asin', 'brand', 'title']].copy()

# rename the columns to match the desired format
product_mapping = product_mapping.rename(
    columns={'asin': 'product_id', 'brand': 'product_brand', 'title': 'product_model_name'})

# save the product mapping as a CSV file
product_mapping.to_csv('product_mapping.csv', index=False)

In [36]:
df1 = pd.read_csv('product_mapping.csv')

In [42]:
df1.columns

Index(['product_id', 'product_brand', 'product_model_name'], dtype='object')

In [55]:
df2= pd.read_csv('20191226-reviews.csv')

In [56]:
df2.columns

Index(['asin', 'name', 'rating', 'date', 'verified', 'title', 'body',
       'helpfulVotes'],
      dtype='object')

In [61]:
df2.head()

,asin,name,rating,date,verified,title,body,helpfulVotes
0,B0000SX2UC,Janet,3,"October 11, 2005",False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0
1,B0000SX2UC,Luke Wyatt,1,"January 7, 2004",False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0
2,B0000SX2UC,Brooke,5,"December 30, 2003",False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0
3,B0000SX2UC,amy m. teague,3,"March 18, 2004",False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0
4,B0000SX2UC,tristazbimmer,4,"August 28, 2005",False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0